* {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

input textarea {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

body {
  font-size: 12px;
}

/* public */
.clear {
  zoom: 1;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.gradient {
  background: -moz-linear-gradient(top, #ffffff, #f8f8f8);
  background: -webkit-linear-gradient(top, #ffffff, #f8f8f8);
  background: -ms-linear-gradient(top, #ffffff, #f8f8f8);
  background: linear-gradient(top, #ffffff, #f8f8f8);
  //+background:#f9f9f9;
}

.triangle_up, .triangle_down_red, .triangle_down_gray {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.triangle_up {
  border-bottom: 4px solid #ca0309;
}

.triangle_down_red {
  border-top: 4px solid #ca0309;
}

.triangle_down_gray {
  border-top: 4px solid #c4bdbd;
}


/* layout */
#header, #nav, .content {
  width: 960px;
  margin: 0 auto;
}

#search, .section, .side_section, .login .ad_border, #footer, .activity, .recommend {
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}

.section, .main_ad, .side_section, .side_ad, .ad_border {
  margin-bottom: 10px;
}

body {
  margin-bottom: 30px;
}

#header {
  height: 30px;
  border-radius: 0 0 6px 6px;

  .city {
    padding: 5px 0 0 20px;

    a {
      display: inline-block;
      padding: 0 7px;
      height: 18px;
      line-height: 18px;
      color: #999;

      background: #fff;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      box-shadow: 1px 1px 0 #ededed;
    }

    .active {
      color: #d60d03;
    }

    .active:hover {
      color: #d60d03;
      background: #fff;
    }

    a:hover {
      background: #f1f1f1;
    }
  }

  .link {
    padding-right: 20px;
    line-height: 30px;
    color: #d5d5d5;
    word-spacing: 4px;

    a {
      color: #666;
      background: url(../img/header_link_bg.gif) no-repeat 0 3px;
      padding-left: 20px;
    }

    a:hover {
      text-decoration: underline;
    }

    .ico1 {
      background-position: 0 3px;
    }

    .ico2 {
      background-position: 0 -27px;
    }
  }
}

#nav {
  height: 100px;
  position: relative;

  h1 {
    width: 223px;
    height: 62px;
    margin: 0 auto;
    position: relative;
    top: 10px;
  }

  .nav_1 {
    left: 11px;
  }

  .nav_2 {
    right: 11px;
  }

  ul {
    position: absolute;
    top: 10px;

    li {
      float: left;

      a {
        display: block;
        width: 66px;
        padding-top: 50px;
        text-align: center;
        background: url(../img/nav_bg.png) no-repeat;
        color: #333;
      }

      a:hover {
        color: #f60;
        //text-decoration: underline;
      }

      .bg1 {
        background-position: 0 0;
      }

      .bg2 {
        background-position: -66px 0;
      }

      .bg3 {
        background-position: -132px 0;
      }

      .bg4 {
        background-position: -198px 0;
      }

      .bg5 {
        background-position: -264px 0;
      }

      .bg6 {
        background-position: -330px 0;
      }

      .bg7 {
        background-position: -396px 0;
      }

      .bg8 {
        background-position: -462px 0;
      }

      .bg9 {
        background-position: -528px 0;
      }

      .bg10 {
        background-position: -594px 0;
      }

      .bg1:hover {
        background-position: 0 -70px;
      }

      .bg2:hover {
        background-position: -66px -70px;
      }

      .bg3:hover {
        background-position: -132px -70px;
      }

      .bg4:hover {
        background-position: -198px -70px;
      }

      .bg5:hover {
        background-position: -264px -70px;
      }

      .bg6:hover {
        background-position: -330px -70px;
      }

      .bg7:hover {
        background-position: -396px -70px;
      }

      .bg8:hover {
        background-position: -462px -70px;
      }

      .bg9:hover {
        background-position: -528px -70px;
      }

      .bg10:hover {
        background-position: -594px -70px;
      }

    }
  }
}

#search {
  width: 958px;
  height: 114px;
  margin: 0 auto 10px;
  position: relative;

  .bar {
    width: 958px;
    height: 64px;
    border: 1px solid #c40d0e;
    position: absolute;
    top: 16px;
    left: -1px;
    background: #e21c01;
    border-radius: 5px;
    box-shadow: 2px 3px 2px #e3e3e3;

    .menu {
      position: absolute;
      left: 226px;
      top: -27px;

      li {
        float: left;
        width: 78px;
        height: 25px;
        margin-right: 1px;
        display: inline-block;
        border: 1px solid #f8d0bf;
        border-bottom: none;
        text-align: center;
        line-height: 25px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        box-shadow: 2px 2px 3px rgba(176, 176, 176, 0.3);
      }

      .active {
        position: relative;
        top: -1px;
        height: 27px;
        background: #e21c01;
        color: #ffffff;
        font-weight: bold;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .img {
    width: 163px;
    height: 122px;
    background: url(../img/search_img.png) no-repeat;
    position: absolute;
    left: 32px;
    top: -3px;
    z-index: 2;
  }

  .form {
    position: absolute;
    left: 226px;
    top: 36px;
    z-index: 3;

    .text {
      width: 380px;
      height: 22px;
      padding: 0 12px;
      border: none;
      background: #fff1ef;
      border-radius: 3px;
      float: left;
      margin-right: 10px;
      color: #ea7a7a;
      box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
    }

    .btn {
      width: 63px;
      height: 26px;
      border: none;
      background: url(../img/search_img.png) no-repeat -163px 0;
      float: left;
    }
  }

  .key_text {
    width: 206px;
    color: #ffffff;
    line-height: 18px;
    position: absolute;
    top: 30px;
    right: 36px;

    a {
      color: #fff;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .update {
    width: 405px;
    height: 30px;
    position: absolute;
    left: 226px;
    bottom: 0;
    background: url(../img/search_img.png) no-repeat -226px 8px;

    .wrap {
      width: 336px;
      height: 30px;
      overflow: hidden;
      position: relative;
      left: 60px;

      ul {
        width: 336px;
        position: absolute;
        top: 0;
        left: 0;

        li {
          height: 30px;
          line-height: 30px;

          a {
            color: #000;

            strong {
              color: #d30703;
              font-weight: normal;
            }

            span {
              color: #999;
            }
          }
        }
      }
    }

    .triangle_up {
      top: 8px;
      right: 0;
    }

    .triangle_down_red {
      top: 17px;
      right: 0;
    }
  }

}

.list_section .title {
  border-top: none;
}
.content {



  .help{
    height: 208px;

    li{
      width: 154px;
      text-indent: 30px;
      background: url(../img/help.gif) no-repeat;
    }
    p{
      text-indent: 2em;
    }

    ul{
      height: 44px;
      line-height: 44px;
      border-bottom: 1px solid #dbdbdb;


      .phone{
        position: absolute;
        font-size: 16px;
        font-weight: bold;
        color: #b80000;
        background-position: 7px 11px;
      }

      .msn{
        background-position: 7px -31px;
      }
    }

    dl{
      width: 144px;
      line-height: 18px;
      padding: 15px 0 0 10px;

      dt{
        font-weight: bold;
        padding-bottom: 8px;

        dd{
          background: url(../img/dot.gif) no-repeat 4px center;
          text-indent: 18px;

          a{
            color: #333333;
          }

          a:hover{
            text-decoration: underline;
          }
        };
      }
    }
  }

  .media{
    height: 205px;
    padding-top: 3px;

    li{
      width: 318px;
      height: 50px;
      vertical-align: middle;

    }

    a{
      float: left;
      width: 100px;
    }

    p{
      float: right;
      width: 208px;
      color: #333333;
    }
  }

  .tab {
    height: 25px;
    border-bottom: 1px solid #dadada;

    ul {
      height: 26px;
      margin-bottom: -1px;
      position: relative;

      li {
        float: left;
        height: 24px;
        text-align: center;
        line-height: 24px;
        color: #666;
        border: 1px solid #dadada;
        position: relative;
        cursor: pointer;
        border-radius: 4px 4px 0 0;
        margin-right: -1px;

        a {
          top: 10px;
          right: 12px;
        }
      }

      .active {
        border-bottom: 1px solid #fff;
        background: #fff;
        font-weight: bold;
        color: #454545;
      }
    }
  }

  .main {
    width: 710px;


    .section {
      width: 318px;
      padding: 0 15px;

      .title{
        border-top: none;
      }

      .col1{
        width: 273px;
      }
      .col2{
        width: 35px;
      }
      .col2 img{
        position: relative;
        top: 7px;
      }

      .video_title {
        height: 42px;
        line-height: 42px;
        background: url(../img/video_bg.gif) no-repeat 105px 10px;
        font-size: 18px;
        color: #d90000;
        font-weight: normal;
      }

      .video {
        margin-bottom: 13px;
      }

      .video_list {
        padding-left: 75px;
        height: 78px;
        background: url(../img/video_bg.gif) no-repeat 3px -47px;

        li {
          line-height: 20px;
          text-indent: 14px;
          background: url(../img/dot.gif) no-repeat 5px center;

          a {
            color: #4d4d4d;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }

      .tab {
        padding: 10px;

        li {
          width: 98px;
        }
      }
    }

    .options {
      width: 350px;

      .nav {
        height: 34px;
        position: relative;

        li {
          width: 172px;
          height: 33px;
          line-height: 33px;
          border: 1px solid #dbdbdb;
          border-radius: 6px 6px 0 0;
          border-bottom: none;
          text-align: center;
          position: relative;

          strong {
            color: #cc0d13;
            font-size: 12px;
          }

          span {
            color: #000;
          }

          .triangle_down_red,
          .triangle_down_gray {
            top: 14px;
            right: 12px;
          }
        }

        .active {
          width: 172px;
          height: 34px;
          background: #fff;
          line-height: 34px;
        }
      }

      .con {
        width: 318px;
        padding: 0 15px;
        border: 1px solid #dbdbdb;
        border-radius: 0 0 6px 6px;

        .hot_list {
          height: 374px;
          padding-top: 10px;
          position: relative;

          li {
            width: 318px;
            height: 108px;
            margin-bottom: 6px;
            background: url(../img/hot_list_li_bg.gif);

            .img {
              float: left;
              width: 106px;
              height: 86px;

              a {
                display: block;
                width: 104px;
                height: 84px;
                border: 1px solid #e6e6e6;
              }

              a:hover {
                border: 1px solid #929292;
              }
            }

            .text {
              float: right;
              width: 190px;

              h3 {
                line-height: 24px;

                a {
                  font-weight: normal;
                  color: #bb0d0d;
                }
              }

              p {
                line-height: 16px;
                color: #6e6e6e;
              }
            }
          }

          .more {
            position: absolute;
            bottom: 8px;
            right: 0;
          }
        }
      }

    }

    .main_ad {
      border-radius: 6px;
      overflow: hidden;
    }
  }

  .side {
    width: 240px;

    .login{
      height: 138px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .login h2 {
      text-indent: 12px;
      color: #000;
      font-size: 12px;
      line-height: 34px;
      border-bottom: 1px solid #dbdbdb;
      em {
        color: #cc0d13;
        font-size: 12px;
      }
    }
    .login .form {
      width: 214px;
      padding: 15px 0 2px;
      border-bottom: 1px solid #f2f2f2;
      margin: 0 auto;
      position: relative;
    }
    .login li {
      height: 26px;
      vertical-align: middle;



    }
    .login li span,
    .login li input,
    .login li strong{
      float: left;
    }
    .login span {
      float: left;
      width: 58px;
      color: #595959;
      word-spacing: 7px;
    }
    .login .text {
      float: left;
      width: 87px;
      height: 17px;
      margin-right: 3px;
      overflow: hidden;
      border: 1px solid #dbdbdb;
      background: #f7f7f7;
    }
    .login strong{
      font-weight: normal;
      padding-left: 3px;
    }
    .login .btn {
      float: right;
      width: 54px;
      height: 22px;
      border: none;
      background: #cb0000;
      font-size: 12px;
      color: #fff;
      font-weight: bold;
      border-radius: 10px;
    }
    .login p {
      line-height: 32px;
      text-align: center;
      word-spacing: 20px;
    }
    .login p a {
      padding-left: 14px;
      color: #666;
      background: url(../img/dot.gif) no-repeat 4px center;
    }
    .login a:hover {
      text-decoration: underline;
    }





    .side_section {
      padding: 0 12px;


      .tab {
        padding: 0 6px;

        li {
          width: 66px;
        }

      }


    }



    .side_ad {
      border-radius: 6px;
      overflow: hidden;
    }

    .ad_border {
      width: 238px;
      height: 88px;
      overflow: hidden;
    }
  }


  .main_title {
    height: 40px;
    line-height: 40px;
    position: relative;

    strong {
      color: #cc0d13;
      font-size: 12px;

      span {
        color: #000;
      }
    }

    a {
      position: absolute;
      top: 15px;
      right: 0;
    }
  }
}

.list_section{

  .title{
    background: none;
    color: #999999;
    border-top: none;

  }

  li{
    height: 27px;
    line-height: 27px;
    border-top: 1px dotted #dadada;
    background: url(../img/dot.gif) no-repeat 5px center;

    .col1{
      text-align: center;
      float: left;
      width: 137px;
    }
    .col2{
      text-align: center;
      float: left;
      width: 35px;

    }
    .col3{
      text-align: center;
      float: left;
      width: 36px;
    }
    .color{
      color: #d80000;
    }

    a{
      color: #333;
      float: left;
      padding-left: 14px;

      em{
        color: #c3c3c3;

        span{
          color: #c75d61;
        }
      }
    }

    a:hover{
      text-decoration: underline;
    }
  }
}

.pic_list{
  overflow: hidden;

  li{
    overflow: hidden;

    .img{
      width: 96px;
      height: 73px;
      position: relative;

      a{
        display: block;
        width: 90px;
        height: 67px;
        padding: 2px;
        border: 1px solid #dadada;
      }
      a:hover{
        border: 1px solid #b80000;
      }
    }
    .text{
      width: 108px;

      h3{

        a{
          color: #b80000;
          font-size: 12px;
        }

        a:hover{
          text-decoration: underline;
        }
      }
      p{
        color: #999;

        a{
          color: #666;
        }

        a:hover{
          color: #b80000;
          text-decoration: underline;
        }
      }
    }
  }
}

.wrap_section1{
  padding-bottom: 5px;
}

.wrap_section2{
  padding-bottom: 2px ;

  li{
    border-bottom: 1px dotted #dadada;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.wrap_section3{
  padding-bottom: 1px;

  .pic_list{
    padding-bottom: 10px;
  }
}

.wrap_section4{
  padding-bottom: 10px;

  .pic_list{
    overflow: hidden;

    li{
      float: left;
      width: 107px;
      height: 150px;

      h3{
        line-height: 30px;
      }
    }
  }
}

.new_title strong,
.new_title span{
  position: absolute;
  left: 24px;
}

.new_title{
  height: 70px;
  position: relative;
  background: url(../img/new_title_bg.gif) no-repeat right 0;

  strong{
    font-size: 12px;
    color: #ea2b31;
    top: 19px;
  }
  span{
    font-size: 24px;
    color: #333;
    top: 31px;
  }
  em{
    font-size: 36px;
    font-weight: bold;
    color: #ec1c16;
    position: absolute;
    left: 125px;
    top: 16px;
    }
}
.activity{
  width: 348px;
  float: left;
}
.recommend{
  width: 348px;
  float: right;

  .new_title{
    background-position: right -70px;
  }
}

.activity{

  .con{
    background: url(../img/activity_bg.gif) no-repeat;

  }

  .info{
    padding: 16px 25px 0;
    height: 104px;

    .img{
      width: 84px;
      height: 84px;
      float: left;
      position: relative;

      img{
        width: 84px;
        height: 84px;

      }
      .mask{
        width: 84px;
        height: 84px;
        background: url(../img/activity_bg.gif) no-repeat -373px 0;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .text{
      float: right;
      width: 204px;

      h3{
        height: 32px;
        font-size: 12px;

        em,
        span{
          float: left;
          margin-right: 4px;
        }

        em{
          width: 25px;
          height: 25px;
          background: url(../img/activity_bg.gif) no-repeat -348px 0;
          font-size: 14px;
          color: #cf3530;
          text-align: center;
          line-height: 25px;
        }

        span{
          text-indent: 2px;
          padding-top: 4px;
        }
      }
      p{
        line-height: 18px;
        color: #999999;
      }
    }
  }
}

.calendar{
  width: 323px;
  padding-left: 25px;

  h3{
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-right: 31px;
    background: url(../img/adorn.gif) repeat-x;
    word-spacing: 10px;

    span{
      font-size: 14px;
    }
  }
  li{
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 2px 2px 0;
    background: #ededed;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #666;
  }

  ol{}

  .normal{
      background: #f8f8f8;
      color: #ccc;
    }
  .active, .img{
      position: absolute;
      top: 0;
      left: 0;
    }
  .active{
      width: 36px;
      height: 36px;
      border: 2px solid #d30408;
    }
  .img{
      width: 40px;
      height: 40px;
  }

}

.soso{
  height: 47px;
  padding: 17px 0 0 17px;
  border-top: 1px dotted #dadada ;


  strong{
    float: left;
    color: #595959;
    padding-top: 3px;
  }
  .text{
    width: 172px;
    height: 20px;
    border: 1px solid #9c9c9c;
    line-height: 20px;
    color: #9c9c9c;
    float: left;
  }
  .btn{
    width: 24px;
    height: 25px;
    background: url(../img/btn.gif);
    border: none;
    float: left;
    margin-left: 10px;
  }
}

.panoramic{
  height: 138px;

  img,
  span{
    display: block;
  }


  a{
    color: #333;


  }
  a:hover{
    color: #b80000;
  }


}


#footer {
  width: 958px;
  height: 78px;
  background: #f9f9f9;
  margin: 0 auto;
}

